<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cardapio
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="person-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar value="Buscar"></ion-searchbar>

  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <img
              src="https://trimais.vteximg.com.br/arquivos/ids/1036624-410-410/foto_original.jpg?v=637934154636030000"
              alt="">
            <ion-item>
              <ion-label>Coca Cola</ion-label>
            </ion-item>
          </ion-card-header>
          <ion-item>
            <ion-label>5,99</ion-label>
            <ion-badge>
              <ion-icon name="cart-outline"></ion-icon>
            </ion-badge>
          </ion-item>
        </ion-card>
      </ion-col>
      <!--fim-->

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <img src="https://lanchonete.vallesites.com.br/uploads/thumbs/515x515/fanta-laranja-lata.png" alt="">
            <ion-item>
              <ion-label>Fanta Laranja</ion-label>
            </ion-item>
          </ion-card-header>
          <ion-item>
            <ion-label>5,99</ion-label>
            <ion-badge>
              <ion-icon name="cart-outline"></ion-icon>
            </ion-badge>
          </ion-item>
        </ion-card>
      </ion-col>
      <!--fim-->

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <img src="https://cdn.irmaospatrocinio.com.br/img/p/1/6/8/6/7/3/168673-large_default.jpg">
            <ion-item>
              <ion-label>chweppes</ion-label>
            </ion-item>
          </ion-card-header>
          <ion-item>
            <ion-label>7,20</ion-label>
            <ion-badge>
              <ion-icon name="cart-outline"></ion-icon>
            </ion-badge>
          </ion-item>
        </ion-card>
      </ion-col>
      <!--fim-->

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <img
              src="https://giassi.vtexassets.com/arquivos/ids/237540/Refrigerante-Cola-Pepsi-Lata-350ml.png?v=637874812061070000">
            <ion-item>
              <ion-label>Pepsi</ion-label>
            </ion-item>
          </ion-card-header>
          <ion-item>
            <ion-label>9,00</ion-label>
            <ion-badge>
              <ion-icon name="cart-outline"></ion-icon>
            </ion-badge>
          </ion-item>
        </ion-card>
      </ion-col>
      <!--fim-->

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <img
              src="https://d3ugyf2ht6aenh.cloudfront.net/stores/001/165/503/products/sprite1-0f9d8cb090f7558d6916192135780529-1024-1024.png">
            <ion-item>
              <ion-label>Sprite</ion-label>
            </ion-item>
          </ion-card-header>
          <ion-item>
            <ion-label>4,99</ion-label>
            <ion-badge>
              <ion-icon name="cart-outline"></ion-icon>
            </ion-badge>
          </ion-item>
        </ion-card>
      </ion-col>
      <!--fim-->

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <img
              src="https://giassi.vtexassets.com/arquivos/ids/226411/Refrigerante-Guarana-Antarctica-Lata-269ml.png?v=637867543346000000">
            <ion-item>
              <ion-label>Guarana Antartica</ion-label>
            </ion-item>
          </ion-card-header>
          <ion-item>
            <ion-label>4,00</ion-label>
            <ion-badge>
              <ion-icon name="cart-outline"></ion-icon>
            </ion-badge>
          </ion-item>
        </ion-card>
      </ion-col>
      <!--fim-->

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <img src="https://lanchonete.vallesites.com.br/uploads/thumbs/515x515/kuat.png">
            <ion-item>
              <ion-label>Kuat</ion-label>
            </ion-item>
          </ion-card-header>
          <ion-item>
            <ion-label>9,00</ion-label>
            <ion-badge>
              <ion-icon class="icone" name="cart-outline"></ion-icon>
            </ion-badge>
          </ion-item>
        </ion-card>
      </ion-col><!--fim-->

    </ion-row>
  </ion-grid>

</ion-content>